@charset "UTF-8";
/* Resets CSS */
* {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
}

.page {
  min-width: 320px;
  margin: 0;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/* CSS pour tous  */
/* ---HEADER--- */
/*Logo*/
.header {
  display: flex;
}
.header__logo {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

/*Flèche retour*/
.icon__arrow-left {
  align-self: center;
  padding: 20px 0px 20px 20px;
  font-size: larger;
  width: 10%;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/*Location*/
.sub-header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px 0px 10px 0px;
}
.sub-header__location__icon {
  padding: 0px 10px 0px 10px;
}
.sub-header__location__form {
  background-color: #eaeaea;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 110px;
}

.sub-header__img {
  width: 100%;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/* ---FOOTER---*/
.footer {
  background-color: #353535;
  color: white;
  padding: 20px 0px 30px 20px;
  font-size: 15px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  padding-bottom: 15px;
  font-size: 17px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__desc {
  display: flex;
  flex-direction: row;
  padding: 3px;
}
.footer__desc--icon {
  font-weight: bold;
}
.footer__desc__icon {
  font-size: 12px;
  padding-top: 3px;
  padding-right: 10px;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/* ***BUTTON*** */
/*Bouton Explorer*/
.button {
  width: fit-content;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 20px 15px 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 8px #9356DC;
}
.button:hover {
  background: #ff79d9aa;
  box-shadow: 1px 1px 12px #9356DC;
}

/*Bouton "commander"*/
.button--order {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 15px 50px 15px 50px;
}

/*Bouton coeur*/
.restau__button-like {
  align-self: center;
  padding-right: 10px;
  font-size: 22px;
  padding-right: 20px;
}

.menu__button-like {
  align-self: center;
  padding-right: 10px;
  font-size: 22px;
  margin-left: auto;
}

.button-like--full {
  position: absolute;
  height: 0%;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: height 1000ms;
}

.button-like--empty {
  position: absolute;
  color: #000;
}

.button-like__container {
  position: relative;
  height: 25px;
  width: 25px;
}

.button-like__container:hover > .button-like--full {
  height: 100%;
  transition: height 1000ms;
}

.button-like__container:hover > .button-like--empty {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/*Bouton coeur*/
.icon__heart {
  margin-left: auto;
  align-self: center;
  font-size: 22px;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/*Restaurant*/
.menu {
  position: relative;
}
.menu__restau {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 20px;
  background-color: #eaeaea;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -20px;
}
.menu__restau__name {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 200;
}

.main {
  background-color: #eaeaea;
}

/*Noir*/
/*Violet*/
/*Rose*/
/*Bleu/Vert*/
/*Vert*/
/*Gris*/
/*Gris clair*/
/*Gris très clair*/
/*Gris très très clair*/
/*Gris foncé*/
/*Blanc*/
/*Gradient*/
/*Entrées-Plats-Desserts*/
.course {
  font-weight: 100;
  padding-bottom: 20px;
}
.course__title {
  font-weight: 200;
  font-size: larger;
  padding: 0px 0px 10px 15px;
}
.course__title:after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  left: 0;
  position: relative;
  display: block;
  top: 8px;
}
.course__block {
  display: flex;
  margin: 15px;
}
.course__block__choice {
  width: 95%;
  background-color: white;
  padding: 10px 0px 10px 10px;
  box-shadow: 1px 3px 8px #a2a2a2;
  border-radius: 12px;
}
.course__block__choice__title {
  font-size: large;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.course__block__choice__details {
  display: flex;
  flex-direction: row;
  padding: 2px;
}
.course__block__choice__details__desc {
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.course__block__choice__details__price {
  font-weight: bold;
  width: 15%;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.course__block__animation {
  flex-direction: row;
  color: white;
  width: 0px;
  background-color: #99E2D0;
  align-self: center;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 1px 3px 8px #a2a2a2;
  transition: width 2s;
  overflow: hidden;
}

@keyframes check-slide {
  0% {
    width: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  100% {
    width: 30px;
    padding: 25px;
  }
}
.course__block:hover > .course__block__animation {
  animation: check-slide 0.4s ease-in forwards;
}

@keyframes squared {
  0% {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  100% {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0;
    padding-right: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.course__block:hover > .course__block__choice {
  animation: squared 0.4s ease-in forwards;
}

/*# sourceMappingURL=01-pages-menus.css.map */
