@import '../02_utils/_colors';

/* ***BUTTON*** */


/*Bouton Explorer*/

.button {
    width: fit-content;
    color: $white-fonts;
    font-size: 16px;
    font-weight: 500;
    background: $gradient-button;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 8px $button-shadow;
    &:hover {
        background: $bg-button-lighter;
        box-shadow: 1px 1px 12px $button-shadow;
    }
}


/*Bouton "commander"*/

.button--order {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 15px 50px 15px 50px;
}


/*Bouton coeur*/

.restau__button-like {
    align-self: center;
    padding-right: 10px;
    font-size: 22px;
    padding-right: 20px;
}

.menu__button-like {
    align-self: center;
    padding-right: 10px;
    font-size: 22px;
    margin-left: auto;
}

.button-like--full {
    position: absolute;
    height: 0%;
    background-image: linear-gradient($bg-button, $bg-button-radient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: height 1000ms
}

.button-like--empty {
    position: absolute;
    color: $link-font;
}

.button-like__container {
    position: relative;
    height: 25px;
    width: 25px
}

.button-like__container:hover>.button-like--full {
    height: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: height 1000ms
}

.button-like__container:hover>.button-like--empty {
    background-image: linear-gradient($bg-button, $bg-button-radient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}