@import '../02_utils/_colors';
.card__tag {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $font_card-tag;
    background-color: $card-tag;
    font-size: x-small;
    text-shadow: $font_card-tag;
    padding: 4px 9px 4px 9px;
}