@import '../02_utils/_colors';

/*Bouton coeur*/

.icon__heart {
    margin-left: auto;
    align-self: center;
    font-size: 22px;
}


/*Flèche retour*/

.icon__arrow-left {
    align-self: center;
    padding: 20px 0px 20px 20px;
    font-size: larger;
    width: 10%;
}