/*Entrées-Plats-Desserts*/

.course {
    font-weight: 100;
    padding-bottom: 20px;
    &__title {
        font-weight: 200;
        font-size: larger;
        padding: 0px 0px 10px 15px;
    }
    &__title:after
    /*ligne bleue sous texte*/
    {
        content: "";
        width: 50px;
        height: 3px;
        background-color: $courses-line;
        left: 0;
        position: relative;
        display: block;
        top: 8px;
    }
    &__block {
        display: flex;
        margin: 15px;
        &__choice {
            width: 100%;
            background-color: $bg-color-vignettes;
            padding: 13px 10px 12px 10px;
            box-shadow: 1px 3px 8px $box-shadow;
            border-radius: 12px;
            &__title {
                font-size: large;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &__details {
                display: flex;
                padding: 2px;
                &__desc {
                    width: 85%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &__price {
                    font-weight: bold;
                    width: 15%;
                    text-align: end;
                    padding-right: 7px;
                }
            }
        }
        &__animation {
            flex-direction: row;
            color: $button-check;
            background-color: $check-slide;
            align-self: center;
            text-align: center;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 1px 3px 8px $box-shadow;
            overflow: hidden;
            padding: 0px;
            width: 0px;
        }
    }
}

@keyframes check-slide_in {
    0% {
        padding: 25px 0px;
        width: 0px;
    }
    100% {
        padding: 25px;
        width: 30px;
    }
}

.course__block:hover>.course__block__animation {
    animation: check-slide_in 0.5s ease-in-out both;
}

@keyframes check-slide_out {
    0% {
        padding: 25px;
        width: 30px;
    }
    100% {
        padding: 25px 0px;
        width: 0px;
    }
}

.course__block>.course__block__animation {
    animation: check-slide_out 0.4s ease-in-out both;
}

@keyframes squared_in {
    0% {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    99% {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    100% {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.course__block:hover>.course__block__choice {
    animation: squared_in 0.5s ease-in forwards;
}

@keyframes squared_out {
    0% {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    100% {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.course__block>.course__block__choice {
    animation: squared_out 0.4s ease-in forwards;
}

.course__block:hover .course__block__animation i {
    transform: rotate(360deg);
    transition: all 900ms;
}

@keyframes courses-slide {
    0% {
        transform: translateY(40%);
        height: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(0%);
        height: 100%;
        opacity: 1;
    }
}

.course-starters {
    animation: courses-slide 1000ms ease-in-out;
}

.course-maindishes {
    animation: courses-slide 1300ms ease-in-out;
}

.course-deserts {
    animation: courses-slide 1600ms ease-in-out;
}

@keyframes opacity-courses {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@media all and (max-width:345px) {
    .course__block__choice {
        &__details__desc {
            width: 234px;
        }
    }
}

@media only screen and (min-width:345px) and (max-width:385px) {
    .course__block__choice {
        &__details__desc {
            width: 265.5px;
        }
    }
}