/* ---MAIN--- */

a {
    color: $link-font;
    text-decoration: none;
}

h2 {
    padding-left: 15px;
}

.main {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $bg-pages-menu;
}