@import './_colors';

/* ***BUTTON*** */


/*Bouton Explorer*/

.button {
    width: fit-content;
    color: $white-fonts;
    font-size: 16px;
    font-weight: 500;
    background-color: $bg-button;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 8px $button-shadow;
    transition: background-color 500ms;
    &:hover {
        background-color: $bg-button-lighter;
        box-shadow: 1px 1px 12px $button-shadow;
    }
}


/*Bouton "commander"*/

.button--order {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 15px 50px 15px 50px;
}