/*Noir*/

$link-font:black;

/*Violet*/

$process-number:#9356DC;
$button-shadow: #9356DC;
$hover-icon: #9356DC;

/*Rose*/

$bg-button:#FF79DA;
$bg-button-lighter :#ff79d9aa;
$bg-hover-lighter: #ff79d929;

/*Bleu/Vert*/

$card-tag: #99E2D0;
$courses-line: #99E2D0;

/*Vert*/

$font_card-tag:#008766;

/*Gris*/

$icon-color: grey;

/*Gris clair*/

$box-shadow: #a2a2a2;

/*Gris très clair*/

$bg-color:#f6f6f6;

/*Gris très très clair*/

$bg-location:#eaeaea;
$bg-pages-menu: #eaeaea;

/*Gris foncé*/

$bg-footer:#353535;

/*Blanc*/

$white-fonts:white;
$bg-color-vignettes:white;
$bg-color-header-menu: white;